.room-booking{padding: 10rem 0;}
.cls-login{background: #1abc9c;}
.booking-room-title{margin-top:50px !important;}
.card-header{
    border-radius: 0px !important;
    margin: 100px 0px 0px;
    background: #f7f7f7;

    /*border-radius: 10px 10px 0px 0px;
    margin: 50px 0px 0px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;*/
}
.card-body{
    background: #f7f7f7;
    /*background: #f7f7f7;
    border-left: 1px solid #2c3e50;
    border-right: 1px solid #2c3e50;
    border-bottom: 1px solid #2c3e50;
    border-radius: 0px 0px 10px 10px;*/
}
input[type='text'],input[type='password'],input[type='submit'],button,input[type='button'] {
    border-radius: 0px;
    border: 1px solid #ded8d8;
    outline: 0;
}

input[type='text']:focus,input[type='password']:focus,input[type='submit']:focus,button:focus,input[type='button']:focus {
    border-radius: 0px;
    border: 1px solid #1abc9c;
    outline: 0;
    box-shadow:none;
}
.btn-login {
    background: #1abc9c;
    padding: 8px 20px 10px 20px;
    color: #ffff;
    border: 0px !important;
}
.btn-login:hover{opacity:.8;}